body {
  font-family: sans-serif;
  font-size: 100%;
  background-color: #B0D5FF;
  margin: 0 15% 0;
}

a:link {
  color: white;
}
a:visited {
  color: orange;
}
a:focus, a:hover  {
  color: orange;
  background-color: #00000;
}
a:active {
  color: orange;
  background-color: #00000;
}
h1 {
  text-align: center;
  font-family: 'Helvetica Now', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #FF8D39;
  margin-top: 30px;
}
h2 {
  color: orange;
  text-align: center;
  font-size: 1em;
  font-family: 'Helvetica Now', sans-serif;
}
strong {
  font-style: italic;
}
ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}
footer { 
  border-top: 1px solid #FF8D39;
  text-align: center;
  padding-top: 1em; 
} 
  footer img {
    width: 40px;
    height: 40px;
    margin-left: .5em;
    margin-right: .5em;
  }
  small {
  color: #999;
  }
  img {
  	max-width: 25%;
    align-self: center;
  }
  p {
    text-align: center;
    font-style: none;
  }
  strong {
    font-style: italic;
  }
  small {
    font-style: none;
  }
  nav {
    text-align: center;
  }
a:hover {
  color: orange;
  background-color: rgb(255, 141, 57);
}
a:active {
  color: orange;
  background-color: rgb(255, 141, 57);
}
a:visited {
  color: orange;
}
td, th { 
  border:ridge 1px #FF8D39; 
  padding: 6px;
}
table { 
  border:ridge 2px #FF8D39; 
  padding: 3px; 
  background-color: #FF8D39;
}